.shared-table {
  width: 100%;
  max-width: 100%;
}

.shared-table img {
  width: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.shared-table tr:hover {
  background: hsla(0, 0%, 86%, 0.45);
  cursor: pointer;
}

.shared-table th {
  text-align: start;
  padding: 10px 10px;
  border-bottom: 1px solid hsla(0, 0%, 86%, 0.87);
  background: hsla(0, 0%, 86%, 0.3);
  font-weight: 400;
}

.shared-table td {
  border-bottom: 1px solid hsla(0, 0%, 86%, 0.87);
  padding: 10px 10px;
  text-transform: lowercase;
}

.dragLayer > img {
  display: none;
}
.dragLayer > img[src*='data:image/png;base64'] {
  display: none;
}
.dragLayer > img {
  visibility: hidden;
}
.dragLayer > img {
  opacity: 0;
}
